# Lists

Data Structure:

A data structure is a collection of data elements (such as numbers or characters-or even other data structures) that is structured in some way, for example, by numbering the elements. The most basic data structure in python is the sequence.


-> List is one of the Sequence Data Structure

-> Lists are collection of items (Strings, integers or even  other lists)

-> Lists are enclosed in []

-> Each item in the list has an assigned index value

-> Each item in a list is separated by a comma

-> Lists are mutable, which means they can be changed.


# List Creation

In [80]:
emptyList = []

lst = ['one','two','three','four']  #list of strings

lst2 = [1, 2, 3, 4]     #list of integers

lst3 = [[1, 2], [3, 4]]   #list of lists

lst4 = [1, 'ramu', 24, 1.24]  #list of different datatypes

print(lst2)

print(lst4)

print(lst3)

[1, 2, 3, 4]
[1, 'ramu', 24, 1.24]
[[1, 2], [3, 4]]

# List Length

In [3]:
lst = ['one', 'two', 'three', 'four']

#find length of a list
print(len(lst))

4

# List Append

In [4]:
lst = ['one', 'two', 'three', 'four']

lst.append('five')  #append will add the item at the end

print(lst)

['one', 'two', 'three', 'four', 'five']

# List Insert

In [11]:
#syntax: lst.insert(x, y)

lst = ['one', 'two', 'four', 'ten']

lst.insert(2, "three")   # will add element y at location x
lst.insert(4, "six")

print(lst)

['one', 'two', 'three', 'four', 'six', 'ten']

# List Remove

In [12]:
#syntax: lst.remove(x)

lst = ['one', 'two', 'three', 'four', 'two']

lst.remove('two')   #it will remove first occurance of 'two' in a given list

print(lst)

['one', 'three', 'four', 'two']

# List Append & Extend

In [13]:
lst = ['one', 'two', 'three', 'four']

lst2 = ['five', 'six']

#append
lst.append(lst2)

print(lst)

['one', 'two', 'three', 'four', ['five', 'six']]

In [14]:
lst = ['one', 'two', 'three', 'four']

lst2 = ['five', 'six']

#extend will join the list with list1

lst.extend(lst2)

print(lst)

['one', 'two', 'three', 'four', 'five', 'six']

# List Delete

In [17]:
#del to remove item based on index position

lst = ['one', 'two', 'three', 'four', 'five']

del lst[1]
print(lst)

#or we can use pop() method

a = lst.pop(2)
print(a)

print(lst)

['one', 'three', 'four', 'five']
four
['one', 'three', 'five']

In [19]:
lst = ['one', 'two', 'three', 'four']

#remove an item from list
lst.remove('two')

print(lst)

['one', 'three', 'four']

# List related keywords in python

In [22]:
#keyword 'in' is used to test if an item is in a list

lst = ['one', 'two', 'three', 'four']

if 'two' in lst:
    print('AI')
    
#keyword 'not' can combined with 'in'
if 'nine' not in lst:
    print('ML')

AI
ML

# List Reverse

In [23]:
#reverse is reverses the entire list

lst = ['one', 'two', 'three', 'four']

lst.reverse()

print(lst)

['four', 'three', 'two', 'one']

# List Sorting

The easiest way to sort a List is with the sorted(list) function.

That takes a list and returns a new list with those elements in sorted order.

The original list is not changed.

The sorted() optional argument reverse=True, e.g, sorted(list, reverse=True), makes it sort backwards.

In [24]:
# create a list with numbers
numbers = [3, 1, 6, 2, 8]

sorted_lst = sorted(numbers)

print("Sorted list :", sorted_lst)

#original list remain unchanged

print("Original list: ", numbers)

Sorted list : [1, 2, 3, 6, 8]
Original list:  [3, 1, 6, 2, 8]

In [25]:
#print a list in reverse sorted order
print("Reverse sorted list :", sorted(numbers, reverse=True))

#original list remain unchanged
print("Original list :", numbers)

Reverse sorted list : [8, 6, 3, 2, 1]
Original list : [3, 1, 6, 2, 8]

In [26]:
lst = [1, 20, 5, 5, 4.2]

#sort the list and stored in itself
lst.sort()

# add element 'a' to the list to show an error

print("Sorted list: ", lst)

Sorted list:  [1, 4.2, 5, 5, 20]

In [28]:
lst = [1, 20, 'b', 5, 'a']
print(lst.sort()) #sort list with elements of different data types.

TypeError: '<' not supported between instances of 'str' and 'int'

# List Having Multiple References

In [29]:
lst = [1, 2, 3, 4, 5]
abc = lst
abc.append(6)

#print original list
print("Original list: ", lst)

Original list:  [1, 2, 3, 4, 5, 6]

# String Split to create a list

In [31]:
#lst's take a string

s = "one,two,three,four,five"
slst = s.split(',')
print(slst)

['one', 'two', 'three', 'four', 'five']

In [32]:
s = "This is applied AI course"
split_lst = s.split()   #default split is white-character: space or tab

print(split_lst)

['This', 'is', 'applied', 'AI', 'course']

# List Indexing

Each item in the list has an assigned index value starting from 0

Accessing elements in a list is called indexing.

In [34]:
lst = [1, 2, 3, 4]
print(lst[1])  #print second element

#print last element using negative index
print(lst[-2])

2
3

# List Slicing

Accessing parts of segments is called slicing.

The key point to remember is that the : end value represents the first value that is not in the selected slice.

In [35]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80]

#print all numbers
print(numbers[:])

#print from index 0 to index 3
print(numbers[0:4])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40]

In [36]:
print(numbers)

#print alternative elements in a list
print(numbers[::2])

#print elements start from 0 through rest of the list
print(numbers[2::2])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 30, 50, 70]
[30, 50, 70]

# List extend using "+"

In [38]:
lst1 = [1, 2, 3, 4]
lst2 = ['varma', 'naveen', 'murali', 'brahma']
new_lst = lst1 + lst2

print(new_lst)

[1, 2, 3, 4, 'varma', 'naveen', 'murali', 'brahma']

# List Count

In [41]:
numbers = [1, 2, 3, 1, 1, 3, 4, 2, 5]

#frequency of 1 in a list
print(numbers.count(1))

#frequency of 3 in a list
print(numbers.count(3))

3
2

# List Looping

In [42]:
#loop through a list

lst = ['one', 'two', 'three', 'four']

for ele in lst:
    print(ele)

one
two
three
four

# List Comprehensions

List comprehensions provide a concise way to create lists.

In [43]:
# without list comprehension
squares = []
for i in range(10):
    squares.append(i**2)  #list append
    
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [44]:
# using list comprehension
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [45]:
#example

lst = [-10, -20, 10, 20, 50]

#create a new list with values doubled
new_lst = [i*2 for i in lst]
print(new_lst)

#filter the list to exclude negative numbers
new_lst = [i for i in lst if i >= 0]
print(new_lst)

#create a list of tuples like (number, square_of_number)
new_lst = [(i, i**2) for i in range(10)]
print(new_lst)

[-20, -40, 20, 40, 100]
[10, 20, 50]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

# Nested List Comprehensions

In [46]:
#let's suppose we have a matrix

matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

#transpose of a matrix without list comprehension
transposed = []
for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)
    
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [48]:
#with list comprehension
transposed = [[row[i] for row in matrix] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

# Tuples

-> A tuple is similar to list

-> The difference between the two is that we can't change the elements of tuple once it is assigned whereas in the list, elements can be changed

# Tuple creation

In [49]:
#empty tuple
t = ()

#tuple having integers
t = (1, 2, 3)
print(t)

#tuple with mixed datatypes
t = (1, 'raju', 28, 'abc')
print(t)

#nested tuple
t = (1, (2, 3, 4), [1, 'raju', 28, 'abc'])
print(t)

(1, 2, 3)
(1, 'raju', 28, 'abc')
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

In [50]:
#only parenthesis is not enough
t = ('satish')
type(t)

str

In [51]:
#need a comma at the need
t = ('satish',)
type(t)

tuple

In [53]:
#parenthesis is optional
t = "satish",
print(type(t))

print(t)

<class 'tuple'>
('satish',)

# Accessing Elements in Tuple

In [83]:
t = ('satish', 'murali', 'naveen', 'srinu', 'brahma')

print(t[1])

murali

In [84]:
#negative index
print(t[-2])  #print last element in a tuple

srinu

In [56]:
#nested tuple
t = ('ABC', ('satish', 'naveen', 'srinu'))

print(t[1])

('satish', 'naveen', 'srinu')

In [57]:
print(t[1][2])

srinu

In [58]:
#slicing
t = (1, 2, 3, 4, 5, 6)

print(t[1:4])

#print elements from starting to 2nd last elements
print(t[:-2])

#print elements from starting to end
print(t[:])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)

# Changing a Tuple

unlike lists, tuples are immutable

This mean that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [59]:
#creating tuple

t = (1, 2, 3, 4, [5, 6, 7])

t[2] = 'x'   #will get TypeError

TypeError: 'tuple' object does not support item assignment

In [60]:
t[4][1] = 'satish'
print(t)

(1, 2, 3, 4, [5, 'satish', 7])

In [61]:
#concatinating tuples

t = (1, 2, 3) + (4, 5, 6)
print(t)

(1, 2, 3, 4, 5, 6)

In [62]:
#repeat the elements in a tuple for a given number of times using the * operator
t = (('satish', ) * 4)
print(t)

('satish', 'satish', 'satish', 'satish')

# Tuple Deletion

In [63]:
#we cannot change the elements in a tuple
# That also means we cannot delete or remove

#delete entire tuple using del keyword
t = (1, 2, 3, 4, 5, 6)

#delete entire tuple
del t

# Tuple Count

In [64]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

#get the frequency of particular element appears in a tuple
t.count(1)

3

# Tuple Index

In [65]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

print(t.index(3))   #return index of the first element is equal to 3

#print index of the 1

2

# Tuple Membership

In [66]:
#test if an item exists in a tuple or not, using the keyword in.
t = (1, 2, 3, 4, 5, 6)

print(1 in t)

True

In [67]:
print(7 in t)

False

# Built in Functions

## Tuple Length

In [68]:
t = (1, 2, 3, 4, 5, 6)
print(len(t))

6

## Tuple Sort

In [70]:
t = (4, 5, 1, 2, 3)

new_t = sorted(t)    #take elements in the tuple and return a new sorted list 
                    #(does not sort the tuple itself)
print(new_t)

[1, 2, 3, 4, 5]

In [71]:
#get the largest element in a tuple
t = (2, 5, 1, 6, 9)

print(max(t))

9

In [72]:
#get the smallest element in a tuple
print(min(t))

1

In [73]:
#get sum of elements in the tuple
print(sum(t))

23

# Sets

-> A set is an unordered collection of items. Every element is unique(no duplicates).

-> The set itself is mutable. we can add or remove items from it.

-> Set can be used to perform mathematical set operations like union, intersection, symmetric difference etc.

# Set Creation

In [4]:
#set of integers
s = {1, 2, 3}
print(s)

#print type of s
print(type(s))

{1, 2, 3}
<class 'set'>

In [6]:
#set doesn't allow duplicates. They store only one instance
s = {1, 2, 3, 1, 4, 4}

print(s)

{1, 2, 3, 4}

In [8]:
#we can make set from a list
s = set([1, 2, 3, 1])
print(s)

{1, 2, 3}

In [9]:
#add list and set
s.update([8, 9], {10, 2, 3})

print(s)

{1, 2, 3, 8, 9, 10}

# Remove elements from a set

In [10]:
#A particular item can be removed from set using methods
#discard() and remove()

s = {1, 2, 3, 5, 4}
print(s)

s.discard(4)    #4 is removed from set s

print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 5}

In [11]:
#remove an element
s.remove(2)

print(s)

{1, 3, 5}

In [12]:
#remove an element not present in a set s

s.remove(7)   #will get keyError

KeyError: 7

In [14]:
#discard an element not present in a set s

s.discord(7)
print(s)

AttributeError: 'set' object has no attribute 'discord'

In [15]:
#we can remove item using pop() method

s = {1, 2, 3, 5, 4}

s.pop()  #remove random elemnt

print(s)

{2, 3, 4, 5}

In [16]:
s.pop()
print(s)

{3, 4, 5}

In [17]:
s = {1, 5, 2, 3, 6}

s.clear()   #remove all item in set using clear() method

print(s)

set()

# Python Set Operations

In [18]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}


#union of 2 sets using  | operator

print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7}

In [19]:
#another way of getting union of 2 sets
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7}

In [20]:
#intersection of 2 sets using & operator
print(set1 & set2)

{3, 4, 5}

In [21]:
#use intersection function
print(set1.intersection(set2))

{3, 4, 5}

In [22]:
#set Difference: set of elements that are only in set1 but not in set2

print(set1 - set2)

{1, 2}

In [23]:
#use difference function
print(set1.difference(set2))

{1, 2}

In [24]:
# symmetric difference: set of elements in both set1 and set2
# except those that are common in both.

#use ^ operator

print(set1^set2)

{1, 2, 6, 7}

In [25]:
#use symmetric_difference function
print(set1.symmetric_difference(set2))

{1, 2, 6, 7}

In [29]:
#find issubset()

x = {"a","b","c","d","e"}
y = {"c","d"}

print("set 'x' is subset of 'y' ?", x.issubset(y))  #check x is subset of y

#check y is subset of x
print("set 'y' is subset of 'x' ?", y.issubset(x))

set 'x' is subset of 'y' ? False
set 'y' is subset of 'x' ? True

# Frozen Sets

Frozen sets has the characteristics of sets, but we can't be changed once it's assigned. While tuple are immutable lists, frozen sets are immutable sets

Frozensets can be created using the function frozenset()

Sets being mutable are unhashable, so they can't be used as dictionary keys. On the other hand, frozensets are hashable and can be used as keys to a dictionary.

This datatype supports methods like copy(), difference(), intersection(), isdisjoint(), issubset(), issuperset(), symmetric_difference() and union(). Being immutable it does not have method that add or remove elements.

In [30]:
set1 = frozenset([1, 2, 3, 4])
set2 = frozenset([3, 4, 5, 6])

#try to add element into set1 given an error
set1.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

In [31]:
print(set1[1])  #frozen set doesn't support indexing

TypeError: 'frozenset' object is not subscriptable

# Dictionary

Python dictionary is an unordered collection of items. While other compound data types have only value as an element, a dictionary has a key: value pair.

# Dict Creation

In [32]:
#empty dictionary
my_dict = {}

#dictionary with integer keys
my_dict = {1: 'abc', 2: 'xyz'}
print(my_dict)

#dictionary with mixed keys
my_dict = {'name': 'satish', 1: ['abc', 'xyz']}
print(my_dict)


#create empty dictionary using dict()
my_dict = dict()

my_dict = dict([(1, 'abc'), (2, 'xyz')])    #create a dict with list of tuple
print(my_dict)

{1: 'abc', 2: 'xyz'}
{'name': 'satish', 1: ['abc', 'xyz']}
{1: 'abc', 2: 'xyz'}

# Dict Access

In [33]:
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}


#get name
print(my_dict['name'])

satish

In [34]:
#if key is not present it gives keyError

print(my_dict['degree'])

KeyError: 'degree'

In [35]:
#another way of accessing key

print(my_dict.get('address'))

guntur

In [36]:
#if key is not present it will give None usin g get method
print(my_dict.get('degree'))

None

# Dict Add or Modify Elements

In [37]:
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}

#update name
my_dict['name'] = 'raju'

print(my_dict)

{'name': 'raju', 'age': 27, 'address': 'guntur'}

In [38]:
#add new key

my_dict['degree'] = 'M.Tech'

print(my_dict)

{'name': 'raju', 'age': 27, 'address': 'guntur', 'degree': 'M.Tech'}

# Dict Delete or Remove Element

In [39]:
#create a dictionery
my_dict = {'name': 'satish', 'age':27, 'address': 'guntur'}

#remove a particular item
print(my_dict.pop('age'))

print(my_dict)

27
{'name': 'satish', 'address': 'guntur'}

In [40]:
my_dict = {'name': 'satish', 'age': 27, 'address': 'guntur'}

#remove an arbitarty key
my_dict.popitem()

print(my_dict)

{'name': 'satish', 'age': 27}

In [41]:
squares = {2: 4, 3: 9, 4: 16, 5: 25}

#delete particular key
del squares[2]

print(squares)

{3: 9, 4: 16, 5: 25}

In [42]:
#remove all items
squares.clear()

print(squares)

{}

In [43]:
squares = {2: 4, 3: 9, 4: 16, 5: 25}

#delete dictionary itself
del squares

print(squares)   #NameError because dict is deleted

NameError: name 'squares' is not defined

# Dictionary Methods

In [44]:
squares = {2: 4, 3: 9, 4: 16, 5: 25}

my_dict = squares.copy()
print(my_dict)

{2: 4, 3: 9, 4: 16, 5: 25}

In [45]:
#fromkeys[seq[, v]]  -> Return a new dictionary with keys from seq and value

subjects = {}.fromkeys(['Math', 'English', 'Hindi'], 0)
print(subjects)

{'Math': 0, 'English': 0, 'Hindi': 0}

In [46]:
subjects = {2:4, 3:9, 4:16, 5:25}
print(subjects.items())   #return a new view of the dictionary items (key, values)

dict_items([(2, 4), (3, 9), (4, 16), (5, 25)])

In [47]:
subjects = {2:4, 3:9, 4:16, 5:25}
print(subjects.keys())    #return a new view of the dictionary keys

dict_keys([2, 3, 4, 5])

In [48]:
subjects = {2:4, 3:9, 4:16, 5:25}
print(subjects.values())   #return a new view of the dictionary values

dict_values([4, 9, 16, 25])

In [49]:
#get list of all available methods and sttributes of dictionary
d = {}
print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# Dict Comprehension

In [50]:
#Dict comprehensions are just like list comprehensions but for dictionaries

d = {'a': 1, 'b': 2, 'c':3}
for pair in d.items():
    print(pair)

('a', 1)
('b', 2)
('c', 3)

In [51]:
#Creating a new dictionary with only pairs where the value the value is larger than 2

d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
new_dict = {k:v for k, v in d.items() if v > 2}

print(new_dict)

{'c': 3, 'd': 4}

In [52]:
#We can also perform operations on the key value pairs
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
d = {k + 'c':v * 2 for k, v in d.items() if v > 2}
print(d)

{'cc': 6, 'dc': 8, 'ec': 10}

# Strings

A string is a sequence of characters.

Computers do not deal with characters, they deal with numbers (binary). Internally it is stored and manipulated as a combination of 0's and 1's.

In Python, string is a sequence of Unicode character.

## How to create a string?

Strings can be created by enclosing characters inside a single quote or double quotes.

Even triple quotes can be used in Python but generally used to represent multiline strings and docstrings.

In [53]:
myString = 'Hello'

print(myString)

myString = 'Hello'
print(myString)

myString = '''Hello'''
print(myString)

Hello
Hello
Hello

## How to access characters in a string?

We can access individual characters using indexing and a range of characters using slicing.

Index starts from 0.

Trying to access a character out of index range will raise an IndexError.

The index must be an integer. We can't use float or other types, this will result into TypeError.

Python allows negative indexing for its sequence.

In [54]:
myString = "Hello"

#print first character
print(myString[0])

#print last character using negative indexing
print(myString[-1])

#slicing 2nd to 5th character
print(myString[2:5])

H
o
llo

If we try to access index out of the range or use decimal number, we will get errors.

In [55]:
print(myString[15])

IndexError: string index out of range

In [56]:
print(myString[1.5])

TypeError: string indices must be integers

## How to change or delete a string ?

Strings are immutable. This means that elements of a string cannot be changed once it had been assigned.

We can simply reassign different strings to the same name.

In [57]:
myString = 'Hello'
myString[4] = 's'   # strings are immutable

TypeError: 'str' object does not support item assignment

We cannot delete or remove characters from a string. But deleting the string entirely is possible using the keyword del.

In [58]:
del myString   # delete complete string

print(myString)

NameError: name 'myString' is not defined

# String Operations


## Concatenation

Joining of two or more strings into a single one is called concatenation.

The + operator does this in python. Simply writting two string literals together also concatenates them.

The * operator can be used to repeat the string for a given number of times.

In [63]:
s1 = "Hello"
s2 = "Satish"

#concatenation of 2 strings
print(s1 + s2)

#repeat string n times
print(s1 * 3)

print(s2*2)

HelloSatish
HelloHelloHello
SatishSatish

## Iterating Through String

In [66]:
count = 0
for l in "Hello World":
    if l == 'o':
        count += 1
        
print(count, 'letters found')

2 letters found

## String Membership Test

In [68]:
print('l' in 'Hello World')  #in operator to test membership

True

In [69]:
print('rl' in "Hello world")

True

## String Methods

Some of the commonly used methods are lower(), upper(), join(), split(), find(), replace() etc

In [70]:
"Hello".lower()

'hello'

In [71]:
"Hello".upper()

'HELLO'

In [72]:
"This will split all words in a list".split()

['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list']

In [74]:
' '.join(['This', 'will', 'split', 'all', 'words', 'in', 'a', 'list'])

'This will split all words in a list'

In [75]:
"Good Morning".find("Mo")

5

In [76]:
"Bad Morning".replace("Bad", "Good")

'Good Morning'

## Python Program to check whether a string is palindrome or not ?

In [79]:
myStr = "MadaM"

#convert entire string to either lower or upper

myStr = myStr.lower()

#reverse string
revStr = reversed(myStr)


#check if the string is equal to its reverse
if list(myStr) == list(revStr):
    print("Given String is palindrome")
else:
    print("Given String is not palindrome")

Given String is palindrome